
    <h4 class= "subheader">Click  on the book name below </h4>

    <div class="books">
        <!-- loop through all our team members and put their info on the page -->
   {{!-- this is exactly like forEach loop with vanila JS --}}
   
    {{#each data}}
    <div class="user-panel">
        <img  class="b-cover" src="images/{{cover}}">
        <a class="b-link" href="{{ID}}">
            <h1 >
            {{name}}
        </h1>
          
        </a> 
     
        <h1>
            {{quote}}
        </h1>
        <h3>
            {{description}}
        </h3>


    </div>
    


        {{/each}}
    </div>
    </div>

    <!-- this will be filled in on the client side when we render our AJAX data -->



 <section class="lightbox">
     <h2 class="scroll">Scroll down</h2>
        
        <div class="sidebar">
            <img src="" alt="">
        </div>

        <div class="lb-content">
             

        </div>
      
       <div class="close">
       <span > Back to all </span>
       </div>
    </section>

    

